<!doctype html>
<html lang="en">
<head>
    <title>Contact Us - My Flask App</title>
</head>
<body>
    {% include 'header.html' %}
    
    <main>
        <h1>Contact Us</h1>
        <p>Get in touch with us! You can reach our team through the following channels:</p>
        <ul>
            <li>Email: contact@myflaskapp.com</li>
            <li>Phone: (123) 456-7890</li>
            <li>Address: 123 Flask Street, Python City</li>
        </ul>
    </main>

    {% include 'footer.html' %}
</body>
</html> 